/* General */

main {
  width: 100%;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

* {
  background: #E5E5E5;
}

.section {
  margin-left: 15%;
}

.title {
  font-size: 72px;
  color: #3E2F5B;
  margin-top: 10%;
}

.subtitle {
  font-size: 36px;
  color: #261132;
  margin-bottom: 5px;
}

.description {
  font-size: 18px;
  color: #3E2F5B;
}

.button {
  transition: 0.3s;
  text-align: center;
  font-size: 18px;
  border: 5px solid #3E2F5B;
  padding: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
  color: #3E2F5B;
  margin-right: 5%;
}

.button:hover {
  background-color: #3E2F5B;
  color: #E5E5E5;
}

.button-container {
  margin-top: 5%;
}

.purple-body-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: #E5E5E5;
  font-size: 18px;
}

.purple-container {
  display: flex;
  flex-direction: row;
}

#menu {
  text-align: right;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 24px;
}

.menu-link {
  color: #747572;
  transition: 0.3s;
}

.menu-link:hover {
  color: #3E2F5B;
}

/* Headline */

#headline {
  margin-bottom: 15%;
}

#about-link {
  transition: 0.3s;
  color: #3E2F5B;
}

#about-link:hover {
  background-color: #3E2F5B;
  color: #E5E5E5;
}

/* About */

#about {
  width: 100%;
  height: 660px;
  background-image: url(./images/AboutVector.svg);
}

#about-container, h2, div {
  background: none;
}

#about-image-container {
  margin: 4%;
}

#about-image {
  border-radius: 108px;
}

#about-title {
  margin-bottom: 0px;
}

/* Skills */

#skills-title {
  text-align: right;
  margin-right: 10%;
  margin-top: 20px;
}

#skills-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Projects */

.project {
  display: flex;
  flex-direction: row;
}

.project-text {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.project-image {
  margin-left: auto;
  margin-right: auto;
}

/* Blogs */

.blog {
  width: 50%;
}

#blog-button-container {
  margin-bottom: 5%;
}

.blog-image {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* OXO */
#oxo {
  width: 100%;
  height: 614px;
  background-image: url(./images/OXOVector.svg);
}

#oxo-image {
  border-radius: 15%;
}

#oxo-image-container {
  margin: 5%;
}

#oxo-title {
  margin-bottom: 0px;
}

#oxo-link {
  text-decoration: none;
  background: none;
  color: #E5E5E5;
}

#oxo-skills {
  display: flex;
  flex-direction: row;
}

#oxo-skills-body {
  width: 55%;
}

#logo-container {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 15%;
}

.tech-logo {
  margin-right: 30px;
}
